.text-body-dark
  color: $body-dark !important

.bg-body-dark
  background-color: $body-dark !important

/** Others */
.text-amber
  color: $amber !important

.bg-amber
  background-color: $amber !important

.text-sky
  color: $sky !important

.bg-sky
  background-color: $sky !important

.text-teal
  color: $teal !important

.bg-teal
  background-color: $teal !important

.text-orange
  color: $orange !important

.bg-orange
  background-color: $orange !important

/** Greyscale */
.text-greyscale-100
  color: $greyscale-100 !important

.bg-greyscale-100
  background-color: $greyscale-100 !important

.text-greyscale-200
  color: $greyscale-200 !important

.bg-greyscale-200
  background-color: $greyscale-200 !important

.text-greyscale-900
  color: $greyscale-900 !important

.bg-greyscale-900
  background-color: $greyscale-900 !important
